# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# Omit packer manifests
**/*-manifest.json

# For the love of god, don't check in your infrastructure info
*.auto.pkrvars.hcl
